/* Example stylesheet */
.candidate-panel {
    font-size: 11pt;
    border-radius: 5px;
    background-color: rgba(0.0, 0.0, 0.0, 0.9);
    border: 2px solid #868686;
    color: #ffffff;
    min-width: 100px;
    padding: 5px;
}

.candidate-area {
    padding-top: 5px;
    border-top: 1px #868686 solid;
}

.candidate-label {
    padding-right: 10px;
}

.candidate-vertical > .candidate-label {
    border-right: 1px #868686 solid;
}

.candidate-text:active {
    background-color: #555555;
}
